:root {
  --primary: lightgreen;
  --secondary: violet;
  --dark: black;
  --light: #eee;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background-color: var(--light);
}
.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.calculator {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2 64 rgba(0, 0, 0, 0.2);
}
.display {
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}
.display span {
  font-size: 14px;
  color: #888;
}
button {
  appearance: none;
  outline: none;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  opacity: 0.8;
}
.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
}
.operators button:hover {
  opacity: 0.7;
}
.digits {
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex: 1 1 33.33%;
  max-width: 33.333%;
  background-color: var(--dark);
}
